<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Post</title>
</head>
<body>

    <div class="flexbox">
        <form action="/postado" method="post">
            Título: <input type="text" placeholder="Título" name="Titulo"><br>
            Resumo: <input type="text" placeholder="Resumo" name="Resumo"><br>
            Conteúdo: <input type="text" placeholder="Conteúdo" name="Conteudo"><br>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>