<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Cadastrar</title>
</head>
<body>
    <div class="flexbox">
    <h1>Cadastrar Usuário</h1>
    </div>
    <div class="flexbox">
    <a href="/">Login</a><br>
    </div>
    <div class="flexbox">
        <br><img src="avatar-de-perfil.png">
    </div>
    <div class="flexbox">
        <form action="/cadastrado" method="get">
            Login: <input type="text" placeholder="Login" name="Login"><br>
            Senha: <input type="text" placeholder="Senha" name="Senha"><br>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>