<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="flexbox">
    <h1>Logar</h1>
    </div>
    <div class="flexbox">
    <a href="/cadastra">Cadastrar</a><br>
    </div>
    <div class="flexbox">
        <br><img src="utilizador.png">
    </div>
    <div class="flexbox">
        <form action="/logado" method="post">
            Login: <input type="text" placeholder="Login" name="Login"><br>
            Senha: <input type="password" placeholder="Senha" name="Senha"><br>
            <button type="submit">Logar</button>
        </form>
    </div>
    <div class="flexbox">
        <p>dica: fulano // 123456</p>
    </div>
</body>
</html>