<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Buscar Produtos</title>
</head>
<body>

    <div class="flexbox">
        <table>
            <tr>
                <th>Identificador Único (ID)</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Quantidade</th>
            </tr>
            <% for( let i = 0; i < obj.length; i++ ) { %>
            <tr>
                <td><%= obj[i].dbId %> </td>
                <td><%= obj[i].dbNome %> </td>
                <td><%= obj[i].dbMarca %> </td>
                <td><%= obj[i].dbQtd %> </td>
            </tr>
            <% } %>
        </table>
    </div>
    <div class="flexbox">
        <a href="/">Pagina Inicial</a>
    </div>
</body>
</html>