<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Cadastrar Produtos</title>
</head>
<body>
    <div class="flexbox">
        <form action="/cadastrado" method="post">
            <label>ID:</label> <input type="number" placeholder="ID" name="id"><br>
            <label>Nome:</label> <input type="text" placeholder="Nome" name="nome"><br>
            <label>Marca:</label> <input type="text" placeholder="Marca" name="marca"><br>
            <label>Quantidade:</label> <input type="number" placeholder="Quantidade" name="quantidade"><br>
            <button type="submit">Cadastrar Produto</button>
        </form>
    </div>

</body>
</html>